---
import "../styles/global.css";
---

<html>
  <head>
    <title>Blockly</title>
  </head>
  <body class="flex h-screen items-center justify-center bg-gray-100">
    <div class="text-center">
      <h1 class="text-4xl font-bold text-gray-800">Hello, Blockly</h1>
      <p class="mt-4 text-lg text-gray-600">Block distracting websites</p>
    </div>
  </body>
</html>
